* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    background: #08071b;
    color: white;
    font-family: Arial, sans-serif;
}


/* Main container */

.container {
    position: relative;

    width: 100%;
    min-height: 100vh;

    padding: 50px 210px;

    background: linear-gradient(
        120deg,
        #3d003b,
        #08071b,
        #251044
    );
}


/* Heading */

.heading {
    display: flex;

    justify-content: space-between;
    align-items: center;

    width: 793px;

    margin-bottom: 10px;
}

.heading h2 {
    font-size: 16px;
    font-weight: normal;
}

.heading a {
    color: white;
    text-decoration: none;
    font-size: 10px;
}


/* Cards */

.cards {
    display: flex;

    flex-wrap: wrap;

    gap: 46px 33px;

    width: 793px;
}


/* Card */

.card {
    position: relative;

    width: 173px;
    height: 238px;

    padding: 14px 16px;

    background: #514a60;

    border-radius: 22px;

    display: flex;

    flex-direction: column;
}


/* Image */

.card img {
    width: 141px;
    height: 130px;

    object-position: top;
    object-fit: cover;

    border: 1px solid white;

    border-radius: 15px;
}



/* Name and price */

.info {
    display: flex;

    justify-content: space-between;
    align-items: center;

    margin-top: 10px;
}

.info p {
    font-size: 11px;
}

.price {
    display: flex;

    align-items: center;

    gap: 4px;
}

.price span {
    font-size: 7px;
}

.price i {
    font-size: 16px;
}


/* Button */

.card button {
    width: 119px;
    height: 31px;

    margin: auto auto 0;

    align-self: center;

    background: transparent;

    color: white;

    border: 2px solid #c45cff;

    border-radius: 20px;

    font-size: 13px;
}

.card button:hover {
    background: #c45cff;

    color: white;

    transform: scale(1.08);

    box-shadow: 0 0 15px #c45cff;
}

/* Decorative dots */

.dot {
    position: absolute;

    width: 6px;
    height: 6px;

    background: #77727e;

    border-radius: 50%;
}

.dot1 {
    top: 25px;
    left: 12px;
}

.dot2 {
    bottom: 180px;
    left: 12px;
}

.dot3 {
    bottom: 25px;
    left: 12px;

    background: white;
}

.dot4 {
    top: 25px;
    right: 12px;
}

.dot5 {
    bottom: 180px;
    right: 12px;
}
.dot6 {
    bottom: 25px;
    right: 12px;

    background: white;
}
